<!DOCTYPE html>
<html>
  <head>
    <title>Ajax Message</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Floorball Tactics</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/guestbook">Guestbook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newmessage">New Message</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ajaxmessage">Ajax Message</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1>Ajax Message</h1>
    <form id="message-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br><br>

      <label for="country">Country:</label>
      <input type="text" id="country" name="country" required><br><br>

      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea><br><br>

      <button type="submit">Submit</button>
    </form>
    
    <div id="messages">
      <% messages.forEach(function(message) { %>
        <div>
          <h4><%= message.username %> from <%= message.country %></h4>
          <p><%= message.message %></p>
          <p><%= message.date %></p>
        </div>
      <% }) %>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function() {
        $('#message-form').submit(function(event) {
          event.preventDefault();
          var formData = $(this).serialize();
          
          $.ajax({
            url: '/ajaxmessage',
            type: 'POST',
            data: formData,
            success: function(data) {
              var messagesHtml = '';
              data.messages.forEach(function(message) {
                messagesHtml += '<div>' +
                  '<h4>' + message.username + ' from ' + message.country + '</h4>' +
                  '<p>' + message.message + '</p>' +
                  '<p>' + message.date + '</p>' +
                  '</div>';
              });
              $('#messages').html(messagesHtml);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              alert('Error submitting message: ' + errorThrown);
            }
          });
        });
      });
    </script>
  </body>
</html>
