<!DOCTYPE html>
<html>
  <head>
    <title>Guestbook</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="header">
      <h1>Guestbook</h1>
    </div>
    <div id="main">
      <div id="content">
        <h2>Welcome to the Guestbook!</h2>
        <p>Click the button below to go to the guestbook.</p>
        <a href="/guestbook" class="button">Guestbook</a>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
